div.embed-screen {
  --black9: #0000FF;
  --black6: #0000FF;
  --black4: #0000FF;
  --black3: #0000FF4;
  --black2: #0000FF;
  --black1: #0000FF;
  --black0: #0000FF;
  --white: #0000FF;
  --black: #0000FF;
  --purple6: #0000FF;
}
.embed-variant-header.active {
  border-width: 30px;
}
.embed-gateway-container .gateway-list-item {
  border-width: 2px;
}
.embed-header,
.embed-volume,
.embed-info-header,
.embed-coupon-input,
.embed-coupon-applied,
input.sellix-input,
.embed-back,
.gateway-list-item,
.embed-variant-header,
.embed-group-header,
.embed-addons {
  background-color: var(--black0) !important;
}
